.graph {
  margin: 0;
  padding-bottom: 5em;
  position: relative;
}

.graph *:focus {
  outline: none;
}

.graph h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "GT America Bold";
  font-size: 13px;
  font-weight: normal;
  line-height: 28px;
  text-align: center;
  color: #fff;
}

.graph .outliers-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.plot-container {
  position: relative;
  display: flex;
  justify-content: center;
}

svg.scatter-plot {
  overflow: visible;
}

.scatter-plot {
  width: 600px;
  height: 500px;
  background: rgba(255, 255, 255, 0.075);
  overflow: visible;
}

.scatter-plot-subhead {
  position: relative;
  margin: 30px 0;
  text-align: center;
}

.scatter-plot-subhead h5 {
  margin: 0;
  color: rgba(255, 255, 255, 0.75);
  font-weight: normal;
}

.scatter-plot-key {
  padding: 9px 15px;
  align-items: center;
  display: inline-flex;
}

.scatter-plot-key span {
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.75);
}

.scatter-plot-key span:not(:last-of-type) {
  margin-right: 15px;
}

.key-circle {
  display: inline-flex;
  align-items: center;
}

.key-circle::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.key-circle:not(:empty)::before {
  margin-right: 8px;
}

.key-circle.large::before {
  width: 70px;
  height: 70px;
}

.key-circle.mid::before {
  width: 22px;
  height: 22px;
}

.key-circle.green::before {
  background-color: #00ed89;
}

.key-circle.green-with-opacity::before {
  background-color: #55eaac66;
  border: 1px solid #55eaac;
  mix-blend-mode: hard-light;
}

.key-circle.purple::before {
  background-color: #c14ef8;
}

.key-circle.outlier::before {
  outline: 1px solid white;
  outline-offset: -1px;
}

.axis-label {
  fill: #fff;
  font-size: 12px;
  line-height: 13px;
  text-transform: uppercase;
}

svg.label-wrapper {
  overflow: visible;
}

.axis-tick {
  fill: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  line-height: 16px;
}

.axis-line {
  stroke: rgba(255, 255, 255, 0.1);
  stroke-width: 0.5px;
}

.scatter-text.hovering,
.scatter-text.searched {
  text-shadow: 1px 0px;
}

.scatter-plot .scatter-line.outlier,
.scatter-plot .scatter-point.outlier,
.scatter-plot .scatter-text.outlier {
  display: inline-block;
}

.scatter-line {
  stroke: rgba(255, 255, 255, 0.2);
  stroke-width: 0.5px;
}

.hover-line {
  stroke: rgba(255, 255, 255, 0);
  stroke-width: 12px;
}

.scatter-point.total {
  fill: #55eaac66;
  stroke: #55eaac;
  mix-blend-mode: hard-light;
}

.scatter-point.hovering.total,
.scatter-point.searched.total {
  fill: #55eaacab;
  stroke: #fff;
  stroke-width: 2px;
}

.scatter-point.black {
  fill: #00ed89;
}

.scatter-point.white {
  fill: #c14ef8;
}

.scatter-point.black.outlier {
  stroke: #00ed89;
}

.scatter-point.white.outlier {
  stroke: #c14ef8;
}

.scatter-point.outlier {
  fill: rgb(19, 19, 19);
}

.scatter-line.hovering,
.scatter-point.hovering,
.scatter-line.searched,
.scatter-point.searched {
  stroke: #fff;
}

.scatter-text {
  fill: #fff;
  font-size: 12px;
  line-height: 16px;
  cursor: default;
}

/* these are custom breakpoints to make the svg work well on phones */
@media only screen and (max-width: 670px) {
  .scatter-plot {
    width: 300px;
    height: 400px;
  }

  .plot-container {
    position: static;
  }

  .key-circle.large::before {
    width: 42px;
    height: 42px;
  }
}

@media only screen and (max-width: 400px) {
  .plot-container {
    padding: 20px;
    justify-content: flex-end;
  }

  .scatter-plot {
    width: 280px;
    height: 400px;
  }
}
