.graph h3 {
  margin-bottom: 20px;
  font-family: "GT America Bold";
  font-size: 13px;
  font-weight: normal;
  line-height: 28px;
  text-align: center;
  color: #FFF;
}

.graph .outliers-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.scatter-plot {
  width: 100%;
  height: 500px;
  background: rgba(255, 255, 255, 0.05);
  overflow: visible;
}

.scatter-plot-subhead {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

.scatter-plot-key {
  padding: 9px 15px;
}

.scatter-plot-key span {
  font-size: 11px;
  line-height: 16px;
}

.scatter-plot-key span:not(:last-of-type) {
  margin-right: 20px;
}

.key-circle::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
}

.key-circle.green::before {
  background-color: #00ED89;
}

.key-circle.purple::before {
  background-color: #C14EF8;
}

.axis-label {
  fill: #FFF;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

.label-wrapper {
  overflow: visible;
}

.axis-tick {
  fill: rgba(255, 255, 255, 0.75);
  font-size: 11px;
  line-height: 16px;
}

.axis-line {
  stroke: rgba(255, 255, 255, 0.1);
  stroke-width: 0.5px;
}

.scatter-point.outlier,
.scatter-line.outlier,
.scatter-text.outlier {
  display: none;
}

.scatter-plot.show-outliers .scatter-line.outlier,
.scatter-plot.show-outliers .scatter-point.outlier,
.scatter-plot.show-outliers .scatter-text.outlier {
  display: inline-block;
}

.scatter-line {
  stroke: rgba(255, 255, 255, 0.2);
  stroke-width: 0.5px;
}

.scatter-point.green {
  fill: #00ED89;
}

.scatter-point.purple {
  fill: #C14EF8;
}

.scatter-line.hovering, .scatter-point.hovering {
  /* TODO: what transition to use here? */
  stroke: #FFF;
  stroke-width: 0.5px;
}

.scatter-text {
  fill: #FFF;
  font-size: 11px;
  line-height: 16px;
  cursor: default;
}
