.graph {
  margin: 3em 0;
  position: relative;
}

.graph h3 {
  margin-bottom: 20px;
  font-family: "GT America Bold";
  font-size: 13px;
  font-weight: normal;
  line-height: 28px;
  text-align: center;
  color: #FFF;
}

.graph .outliers-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.plot-container {
  position: relative;
}

.scatter-plot {
  width: 100%;
  height: 500px;
  background: rgba(255, 255, 255, 0.05);
  overflow: visible;
}

.scatter-plot-subhead {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

.scatter-plot-subhead h5 {
  margin: 0;
  color:rgba(255, 255, 255, 0.75);
  font-weight: normal;
}

.scatter-plot-key {
  padding: 8px 15px;
  align-items: center;
  display: inline-flex;
}

.scatter-plot-key span {
  font-size: 11px;
  line-height: 16px;
  color:rgba(255, 255, 255, 0.75);
}

.scatter-plot-key span:not(:last-of-type) {
  margin-right: 15px;
}

.key-circle::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.key-circle:not(:empty)::before {
  margin-right: 8px;
}

.key-circle.large::before {
  width: 60px;
  height: 60px;
}

.key-circle.mid::before {
  width: 32px;
  height: 32px;
}

.key-circle.green::before {
  background-color: #00ED89;
}

.key-circle.green-with-opacity::before {
  background-color: #55EAAC66;
  border: 1px solid #55EAAC;
  mix-blend-mode: hard-light;
}

.key-circle.purple::before {
  background-color: #C14EF8;
}

.axis-label {
  fill: #FFF;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

.label-wrapper {
  overflow: visible;
}

.axis-tick {
  fill: rgba(255, 255, 255, 0.75);
  font-size: 11px;
  line-height: 16px;
}

.axis-line {
  stroke: rgba(255, 255, 255, 0.2);
  stroke-width: 0.5px;
}

.scatter-point.outlier,
.scatter-line.outlier,
.scatter-text.outlier {
  display: none;
  opacity: 50%;
}

.scatter-text.hovering {
  text-shadow: 1px 0px;
}

.scatter-plot.show-outliers .scatter-line.outlier,
.scatter-plot.show-outliers .scatter-point.outlier,
.scatter-plot.show-outliers .scatter-text.outlier {
  display: inline-block;
}

.scatter-line {
  stroke: rgba(255, 255, 255, 0.2);
  stroke-width: 0.5px;
}

.hover-line {
  stroke: rgba(255, 255, 255, 0);
  stroke-width: 12px;
  
}
.hover-line:hover {
  cursor: pointer;
}

.scatter-point.total {
  /* fill: #00ed8a66;
  stroke: #00ED89; */
  fill: #55EAAC66;
  stroke: #55EAAC;
  mix-blend-mode: hard-light;
}

.scatter-point.hovering.total {
  fill: #55EAACab;
  stroke: #FFF;
  stroke-width: 2px;
}

.scatter-point.black {
  fill: #00ED89;
}

.scatter-point.white {
  fill: #C14EF8;
}

.scatter-line.hovering, .scatter-point.hovering {
  cursor: pointer;
  stroke: #FFF;
  stroke-width: 0.5px;
}

.scatter-text {
  fill: #FFF;
  font-size: 11px;
  line-height: 16px;
  cursor: default;
}

.scatter-tooltip {
  display: inline-block;
  position: absolute;
  width: 260px;
  margin: 20px 0 0 20px;
  padding: 11px;
  background-color: #FFF;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  line-height: 13px;
  color: #000;
  pointer-events: none;
}

.scatter-tooltip h4 {
  margin: 0;
  margin-bottom: 5px;
  font-family: "GT America Bold";
  font-weight: 400;
}

.scatter-tooltip table {
  width: 100%;
  border-collapse: collapse;
}

.scatter-tooltip tbody tr {
  border-top: 0.5px solid #D6D6D6;
}

.scatter-tooltip th {
  padding: 5px;
  padding-top: 0px;
  font-family: "GT America Condensed";
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
  vertical-align: bottom;
}

.scatter-tooltip td {
  width: 60px;
  padding: 5px;
  text-align: right;
  text-transform: capitalize;
  font-variant-numeric: tabular-nums;
}

.scatter-tooltip td:first-child {
  padding-left: 0;
}

.scatter-tooltip td:last-child {
  padding-right: 0;
}

.scatter-tooltip .scatter-tooltip-col-header {
  width: 80px;
  text-align: left;
}
