.map-container {
    text-align: center;
}

.map {
    min-width: 200px;
}

.race-map {
    width: 100%; /* Needed, otherwise svg w/ viewBox in flexbox in Chrome will have 0 width/height */
}

.map-row {
    display: flex;
    justify-content: center;
}

path {
    stroke-width: 0.5px;
}

.county-path {
    stroke:#eee;
}

.legend-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.color-scale-legend {
    min-width: 300px;
    max-width: 325px;
}

.legend-text {
    fill: rgba(255, 255, 255, 0.75);
    font-size: 10px;
}

.legend-avg-line {
    stroke-dasharray: 2, 2;
    stroke: #eee;
    stroke-width: 2px;
}

.legend-avg-label {
    fill: #eee;
    font-size: 9px;
}

.spike-legend {
    min-width: 135px;
}

.city-label {
    font-size: 12px;
    text-shadow: 1px 0 0 #eee, -1px 0 0 #eee, 0 1px 0 #eee, 0 -1px 0 #eee, 1px 1px #eee, -1px -1px 0 #eee, 1px -1px 0 #eee, -1px 1px 0 #eee;
}

/* Map Switches */
.btn-text {
  color: #fff;
  font-family: "GT America";
  font-weight: 700;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
}

.switch-container {
  display: flex;
  margin: 1.5em 0;
  cursor: pointer;
  user-select: none;
  justify-content: center;
}

.switch-container .switch {
  width: 100px;
  padding: 7px;
  border: 1px #333 solid;
}

.switch.left {
  border-radius: 3px 0 0 3px;
}

.switch.right {
  border-radius: 0 3px 3px 0;
  border-left: 0;
}

.switch-container .switch.showing, .switch-container .switch:hover {
  background-color: #1D1D1D;
}