.map-container {
    max-width: 1200px;
    text-align: center;
    margin: auto;
}

.race-map {
    width: 100%; /* Needed, otherwise svg w/ viewBox in flexbox in Chrome will have 0 width/height */
}

.map-row {
    display: flex;
    justify-content: center;
}

.map-container path {
    stroke-width: 1px;
}

.county-path {
    stroke: #c6c6c6;
}

.legend-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.color-scale-legend {
    width: 350px;
}

.legend-text {
    fill: rgba(255, 255, 255, 0.75);
}

.legend-avg-line {
    stroke-dasharray: 1;
    stroke: #eee;
    stroke-width: 1px;
}

.legend-avg-label {
    fill: #eee;
    font-size: 9px;
}

.spike-legend {
    min-width: 135px;
}

.city-label {
    font-size: 13px;
    text-shadow: 1px 0 0 rgba(238, 238, 238, 0.8), -1px 0 0 rgba(238, 238, 238, 0.8), 0 1px 0 rgba(238, 238, 238, 0.8), 0 -1px 0 rgba(238, 238, 238, 0.8), 1px 1px rgba(238, 238, 238, 0.8), -1px -1px 0 rgba(238, 238, 238, 0.8), 1px -1px 0 rgba(238, 238, 238, 0.8), -1px 1px 0 rgba(238, 238, 238, 0.8);
}


