@media only screen and (max-width: 640px) {
  th {
    padding: 1em 0.5em;
  }

  td {
    padding: 1em 0.5em;
  }

  th.viz-cell {
    padding: 1em 0.5em;
  }

  td.viz-cell {
    margin: 0 1em;
    padding: 1.5em 0;
    border-left: 1px dotted #333;
    border-right: 1px dotted #333;
  }

  .bar-label {
    left: calc(100% + 0.5em);
  }
}

@media only screen and (max-width: 400px) {
  th.viz-cell {
    width: 100px;
  }

  .average-wrapper {
    width: 100px;
  }

  td.viz-cell {
    width: 100px;
  }

  .rank-cell {
    display: none;
  }
}
