@media only screen and (max-width: 640px) {
  table {
    max-width: 100%;
  }

  th {
    padding: 1em 0.5em;
  }

  td {
    padding: 1em 0.5em;
  }

  th.viz-cell {
    width: 100px;
  }

  td.viz-cell {
    width: 100px;
    margin: 0 1em;
    padding: 1.5em 0;
    border-left: 1px dotted #333;
    border-right: 1px dotted #333;
  }

  .average-wrapper {
    width: 100px;
  }

  .county-name-cell {
    min-width: 100px;
  }

  .total-bail-rate-cell {
    min-width: unset;
    padding-left: 0;
  }

  .bail-black-cell {
    min-width: unset;
  }

  .bail-white-cell {
    min-width: unset;
  }

  .caret-cell {
    padding: 0;
  }

  .bar-label {
    left: calc(100% + 0.5em);
  }

  .total-budget-cell {
      display: none;
  }

  .switch-container {
    width: 100%;
  }

  .switch-container .switch {
    flex-grow: 1;
    padding: 10px;
  }

  .outliers-btn {
    display: none;
  }

  .outliers-btn.mobile-only {
    display: block;
    padding: 10px;
    flex-basis: 161px;
  }

  .map-row {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 425px) {
  th.viz-cell {
    width: 80px;
  }

  .average-wrapper {
    width: 80px;
  }

  td.viz-cell {
    width: 80px;
  }

  .diff-cell, .total-cases-cell {
    display: none;
  }

  .color-scale-legend {
    min-width: 200px;
  }

  .spike-legend {
    min-width: 100px;
  }
}
