@media only screen and (max-width: 640px) {
  .table-container > table {
    max-width: 100%;
  }

  .table-container > table th {
    padding: 1em 0.5em;
  }

  .table-container > table td {
    padding: 1em 0.5em;
  }

  .table-container > table th.viz-cell {
    width: 100px;
  }

  .table-container > table td.viz-cell {
    width: 100px;
    margin: 0 1em;
    padding: 1.5em 0;
    border-left: 1px dotted #333;
    border-right: 1px dotted #333;
  }

  .average-wrapper {
    width: 100px;
  }

  .table-container > table .county-name-cell {
    min-width: 75px;
    max-width: 75px;
  }

  .table-container > table .number-cell {
    min-width: unset;
    padding-left: 0;
  }

  .table-container > table .bail-cases-cell {
    min-width: unset;
    padding-left: 0;
  }

  .table-container > table .bail-rate-cell {
    min-width: unset;
    padding-left: 0;
  }

  .table-container > table .total-bail-rate-cell {
    min-width: unset;
    padding-left: 0;
  }

  .bail-black-cell.table-container > table .bail-black-cell,
  .table-container > table .bail-white-cell {
    min-width: unset;
  }

  .table-container > table .caret-cell {
    padding: 0;
  }

  .table-container > table .nonposting-rate-cell {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
  }

  .bar-label {
    left: calc(100% + 0.5em);
    font-size: 11px;
  }

  .table-container > table .total-budget-cell {
    display: none;
  }

  .viz-bar {
    height: 1em;
  }

  .switch-container {
    width: 100%;
  }

  .switch-container .switch {
    flex-grow: 1;
    padding: 10px;
  }

  .btn-text {
    font-size: 11px;
  }

  .outliers-btn {
    display: none;
  }

  .outliers-btn.mobile-only {
    display: block;
    padding: 10px;
    flex-basis: 161px;
  }

  .map-row {
    flex-wrap: wrap;
  }

  .scatter-plot-key span {
    font-size: 11px;
  }

  .axis-label {
    font-size: 11px;
  }

  .axis-tick {
    font-size: 11px;
  }

  .scatter-text {
    font-size: 11px;
  }
}

@media only screen and (max-width: 425px) {
  .table-container > table th.viz-cell {
    width: 80px;
  }

  .average-wrapper {
    width: 80px;
  }

  .table-container > table td.viz-cell {
    width: 80px;
  }

  .table-container > table .diff-cell,
  .table-container > table .total-cases-cell {
    display: none;
  }

  .table-container > table td.viz-cell {
    margin-right: 0;
  }

  .color-scale-legend {
    min-width: 200px;
  }

  .spike-legend {
    min-width: 100px;
  }

  .legend-segment {
    padding: 0 5px;
  }

  .legend-color-bar {
    width: 75px;
  }
}

@media only screen and (max-width: 350px) {
  .table-container > table td.viz-cell, table th.viz-cell   {
    display: none;
  }

  .legend-segment {
    padding: 0 2px;
  }
}