/* Search Bar */
.search-container {
  display: flex;
  align-items: center;
}

.ui.fluid.dropdown {
  width: auto;
  min-height: 33px;
  flex-grow: 1;
  background-color: #181818;
  border: 0.5px transparent solid;
  border-radius: 3px;
  transition: border 0.2s ease;
}

.ui.multiple.dropdown {
  padding: 0;
}

.ui.fluid.dropdown:hover, .ui.fluid.dropdown:focus {
  border: 0.5px rgba(255, 255, 255, 0.4) solid;
}

.ui.fluid.dropdown > .dropdown.icon {
  color: rgba(255, 255, 255, 0.75);
}

.ui.fluid.dropdown.active > .dropdown.icon {
  color: #fff;
}

.ui.multiple.dropdown > .text,
.ui.multiple.search.dropdown > .text {
  margin: 0;
  padding: 10px 13px;
  color: rgba(255, 255, 255, 0.75);
 }

.ui.multiple.search.dropdown > input.search {
  margin: 0;
  padding: 10px 13px;
  color: #fff;
  font-size: 13px;
}

/* Selection Label */
.ui.multiple.dropdown > .label {
  background-color: #222;
  color: #fff;
  vertical-align: middle;
  margin-top: 0;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 15px;
}

.ui.multiple.dropdown > .label:first-of-type {
  margin-left: 10px;
}

.ui.multiple.dropdown > .label:last-of-type {
  margin-right: -10px;
}

i.icon.delete {
  margin-left: 10px;
}

i.icon.delete:before {
  content: "✕";
  color: #5c5c5c;
  font-style: normal;
  padding-left: 0.25em;
}

i.icon.delete:hover {
  cursor: pointer;
}

/* Dropdown */
.ui.selection.active.dropdown {
  border-color: rgba(255, 255, 255, 0.4);
}

.ui.selection.active.dropdown:hover {
  border-color: rgba(255, 255, 255, 0.4);
}

.ui.dropdown .menu {
  background: #000;
}

.ui.selection.active.dropdown .menu {
  min-width: 100%;
  width: 100%;
  background-color: #000;
  border-radius: 0 0 3px 3px;
  border-color: rgba(255, 255, 255, 0.4);
}

.ui.selection.active.dropdown.upward .menu {
  border-radius: 3px 3px 0 0;
}

.ui.selection.active.dropdown:hover .menu {
  border-color:rgba(255, 255, 255, 0.4);
}

.ui.selection.dropdown .menu > .item {
  padding-left: 13px;
  border-top: 0;
  color: #fff;
  font-size: 13px;
}

.ui.selection.dropdown .menu > .item.bold {
  font-weight: 700;
}

.ui.dropdown.selected, .ui.dropdown .menu .selected.item,
.ui.dropdown .menu > .item:hover {
  background-color: #222;
}

.ui.selection.dropdown .menu > .message {
  color: #fff;
}
