/* Search Bar */
.search-container {
  display: flex;
}

.ui.fluid.dropdown {
  width: auto;
  min-height: unset;
  flex-grow: 1;
  background-color: #000;
  border: 0.5px #333 transparent;
}

.ui.fluid.dropdown:hover {
  border-color: rgba(255, 255, 255, 0.4);
  transition: 0.2s, ease;
}

.ui.fluid.dropdown > .dropdown.icon {
  color: #222;
}

.ui.multiple.search.dropdown > input.search {
  color: #fff;
}

/* Selection Label */
.ui.multiple.dropdown > .label {
  background-color: #222;
  color: #fff;
  vertical-align: middle;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 10px;
}

i.icon.delete {
  margin-left: 0.25em;
  border-left: 0.1em rgba(255, 255, 255, 0.1) solid;
}

i.icon.delete:before {
  content: "X";
  color: #5c5c5c;
  font-style: normal;
  padding-left: 0.25em;
}

i.icon.delete:hover {
  cursor: pointer;
}

/* Dropdown */
.ui.selection.active.dropdown {
  border-color: rgba(255, 255, 255, 0.4);
}

.ui.selection.active.dropdown:hover {
  border-color: rgba(255, 255, 255, 0.4);
}

.ui.selection.active.dropdown .menu {
  min-width: 100%;
  width: 100%;
  background-color: #000;
  border-radius: 0;
  border-color: rgba(255, 255, 255, 0.4);
}

.ui.selection.active.dropdown:hover .menu {
  border-color:rgba(255, 255, 255, 0.4);
}

.ui.selection.dropdown .menu > .item {
  border-top: 0;
  color: #fff;
  font-size: 13px;
}

.ui.dropdown.selected, .ui.dropdown .menu .selected.item {
  background-color: #222;
}

.ui.dropdown .menu > .item:hover {
  background: #5c5c5c;
}

.ui.selection.dropdown .menu > .message {
  color: #fff;
}
