@font-face {
  font-family: "GT America";
  src: url("./GT-America-Standard-Regular.otf") format("opentype");
}

@font-face {
  font-family: "GT America Bold";
  src: url("./GT-America-Standard-Bold.otf") format("opentype");
}

@font-face {
  font-family: "GT America Condensed";
  src: url("./GT-America-Condensed-Regular.otf") format("opentype");
}

body {
  font-family: "GT America";
  font-size: 13px;
  color: #eee;
  background-color: #000;
  -font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3.title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: "GT America Bold";
  font-size: 18px;
  line-height: 28px;
}

.container {
  max-width: 600px;
  margin: auto;
}

.hidden {
  display: none;
}

.footnote {
  max-width: 600px;
  margin: 10px auto;
  color: rgba(255, 255, 255, 0.75);
  font-family: "GT America";
  font-size: 12px;
  text-align: left;
}

.footnote.graph-footnote {
  margin-top: 70px;
}

.mobile-only {
  display: none;
}

.btn-text {
  color: #fff;
  font-family: "GT America Bold";
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  border-radius: 3px;
}

.outliers-btn {
  margin-left: 1em;
  padding: 10px 15px;
  border: 1px #333 solid;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
}

.outliers-btn.showing {
  color: #fff;
  background-color: #1d1d1d;
}

.switch-container {
  display: flex;
  margin: 1.5em 0;
  cursor: pointer;
  user-select: none;
  justify-content: center;
}

.switch-container .switch {
  width: 130px;
  padding: 10px;
  border: 1px #333 solid;
  text-transform: uppercase;
}

.switch.left {
  border-radius: 3px 0 0 3px;
}

.switch.right {
  border-radius: 0 3px 3px 0;
  border-left: 0;
}

.switch-container .switch.showing,
.switch-container .switch:hover {
  background-color: #1d1d1d;
}

.switch-container {
  display: flex;
  margin: 1.5em 0;
  cursor: pointer;
  user-select: none;
  justify-content: center;
}

.switch-container .switch {
  width: 130px;
  padding: 10px;
  border: 1px #333 solid;
  text-transform: uppercase;
}

.switch.left {
  border-radius: 3px 0 0 3px;
}

.switch.right {
  border-radius: 0 3px 3px 0;
  border-left: 0;
}

.switch-container .switch.showing,
.switch-container .switch:hover {
  background-color: #1d1d1d;
}
