/* Base styles for dev template */

body {
  /* TODO: Get GT America font */
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  font-size: 80%;
  color: #eee;
  background-color: #000;
}

.container {
  max-width: 640px;
  margin: auto;
}
