@font-face {
  font-family: "GT America";
  src: url("./GT-America-Standard-Regular.otf") format("opentype");
}

body {
  font-family: "GT America";
  font-size: 13px;
  color: #eee;
  background-color: #000;
  -font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 600px;
  margin: auto;
}

.table-container {
  margin: 3em 0;
}

.hidden {
  display: none;
}

.footnote {
  color: rgba(255, 255, 255, 0.75);
  font-family: "GT America";
  font-size: 12px;
}

.mobile-only {
  display: none;
}
