/* Base styles for dev template */

body {
  /* TODO: Get Century Schoolbook font */
  font-family: sans-serif;
  font-size: 80%;
  color: #eee;
  background-color: #000;
}

.container {
  max-width: 640px;
  margin: auto;
}
