@font-face {
  font-family: "GT America Condensed";
  src: url("./GT-America-Condensed-Regular.otf") format("opentype");
}

@font-face {
  font-family: "GT America Bold";
  src: url("./GT-America-Standard-Bold.otf") format("opentype");
}

table {
  border-collapse: collapse;
  max-width: 600px;
  width: 100%;
  color: rgba(255, 255, 255, 0.75);
}

thead tr, tbody tr {
  border-bottom: 1px #333 solid;
}

th {
  padding: 1em 0.5em;
  color: #fff;
  font-family: "GT America Condensed";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  vertical-align: bottom;
}

th.number-cell {
  text-align: center;
}

td {
  text-align: left;
  padding: 1em 0.5em;
}

.number-cell {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.county-name-cell {
  min-width: 170px;
}

.th-wrapper {
  display: flex;
  justify-content: center;
}

.sort-desc, .sort-asc {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.75);
}

.sort-desc:hover, .sort-asc:hover {
  color: #fff;
  transition: 0.3s ease;
}

.carat {
  min-width: 8px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 5px;
  opacity: 0;
}

.sort-asc .carat {
  transform: rotateX(180deg);
}

.sorted .carat {
  opacity: 1;
}

.sorted {
  color: #fff;
}

.btn-text {
  color: #fff;
  font-family: "GT America Bold";
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
}

.view-all-btn {
  margin: 1.5em 0;
  cursor: pointer;
  user-select: none;
}

.outliers-btn {
  margin-left: 1em;
  padding: 9px 25px;
  border: 1px #333 solid;
  cursor: pointer;
  user-select: none;
}

.outliers-btn.showing {
  color: #fff;
  background-color: #1D1D1D;
}

.switch-container {
  display: flex;
  margin: 1.5em 0;
  cursor: pointer;
  user-select: none;
}

.switch-container .switch {
  border: 1px #333 solid;
  padding: 9px 25px;
}

.switch.left {
  border-radius: 3px 0 0 3px;
}

.switch.right {
  border-radius: 0 3px 3px 0;
  border-left: 0;
}

.switch-container .switch.showing, .switch-container .switch:hover {
  background-color: #1D1D1D;
}

.positive-diff {
  color: #00ED89;
}

.negative-diff {
  color: #C14EF8;
}
