@font-face {
  font-family: "GT America Condensed";
  src: url("./GT-America-Condensed-Regular.otf") format("opentype");
}

@font-face {
  font-family: "GT America Bold";
  src: url("./GT-America-Standard-Bold.otf") format("opentype");
}

table {
  border-collapse: collapse;
  max-width: 600px;
  width: 100%;
  margin: 1em 0 0;
}

tbody tr {
  border-top: 1px #333 solid;
}

th {
  padding: 1em 0.5em;
  font-family: "GT America Condensed";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  vertical-align: bottom;
}

th.number-cell {
  text-align: center;
}

td {
  text-align: left;
  padding: 1em 0.5em;
}

td.sorted {
  background: #111;
}

.number-cell {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.county-name-cell {
  min-width: 150px;
}

.sort-desc, .sort-asc {
  cursor: pointer;
}

.sort-desc:before, .sort-asc:before {
  content: ' ';
  position: relative;
  right: 5px;
  border: 0.33em solid transparent;
}

.sort-desc:before {
  top: 0.67em;
  border-top-color: #444;
}

.sort-asc:before {
  bottom: 0.8em;
  border-bottom-color: #444;
}

.sort-desc.sorted:before {
  border-top-color: #eee;
}

.sort-asc.sorted:before {
  border-bottom-color: #eee;
}

.btn-text {
  color: #fff;
  font-family: "GT America Bold";
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
}

.view-all-btn {
  margin: 1.5em 0;
  cursor: pointer;
  user-select: none;
}

.outliers-btn {
  cursor: pointer;
  user-select: none;
  padding: 9px 25px;
  margin: 0 0 2.5em;
  border: 1px #333 solid;
  color: #595959;
}

.outliers-btn.showing {
  color: #fff;
  background-color: #1D1D1D;
}

.ui.fluid.dropdown {
  width: auto;
}

.switch-container {
  cursor: pointer;
  user-select: none;
  margin: 1.5em 0;
  color: #eee;
}

.switch-container .switch {
  float: left;
  border: 1px #333 solid;
  padding: 9px 25px;
}

.switch.left {
  border-radius: 3px 0 0 3px;
}

.switch.right {
  border-radius: 0 3px 3px 0;
  border-left: 0;
}

.switch-container .switch.showing, .switch-container .switch:hover {
  background-color: #1D1D1D;
}

.positive-diff {
  color: #00ED89;
}

.negative-diff {
  color: #C14EF8;
}
