@font-face {
  font-family: "GT America Condensed";
  src: url("./GT-America-Condensed-Regular.otf") format("opentype");
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0 0;
}

tbody tr {
  border-top: 1px #333 solid;
}

th {
  padding: 1em;
  font-family: "GT America Condensed";
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  vertical-align: bottom;
}

td {
  text-align: left;
  padding: 1em;
}

td.sorted {
  background: #111;
}

.number-cell {
  text-align: right;
}

.rank-cell {
  text-align: center;
}

.county-name-cell {
  width: 95px;
}

.sort-desc, .sort-asc {
  cursor: pointer;
}

.sort-desc:before, .sort-asc:before {
  content: ' ';
  position: relative;
  right: 5px;
  border: 0.33em solid transparent;
}

.sort-desc:before {
  top: 0.67em;
  border-top-color: #444;
}

.sort-asc:before {
  bottom: 0.8em;
  border-bottom-color: #444;
}

.sort-desc.sorted:before {
  border-top-color: #eee;
}

.sort-asc.sorted:before {
  border-bottom-color: #eee;
}

.view-all-btn {
  width: 100%;
  padding: 1em;
  margin: 0 0 2.5em;
  text-align: center;
  font-weight: 600;
  border: 1px #333 solid;
  cursor: pointer;
  user-select: none;
}

.outliers-btn {
  cursor: pointer;
  user-select: none;
  padding: 1em;
  margin: 0 0 2.5em;
  border: 1px #333 solid;
  border-radius: 5px;
  color: #595959;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.outliers-btn.showing {
  color: #fff;
  background-color: #1D1D1D;
}

.switch-container {
  cursor: pointer;
  user-select: none;
  padding: 1.5em 0 1.5em 0;
  margin: 1.5em 0 1.5em 0;
  color: #eee;
}

.switch-container .switch {
  float: left;
  border: 1px #333 solid;
  padding: .85em 2em;
  font-size: 75%;
  font-weight: 550;
  text-align: center;
  text-transform: uppercase;
}

.switch-container .switch.left {
  border-radius: 2px 0 0 2px;
}

.switch-container .switch.right {
  border-radius: 0 2px 2px 0;
}

.switch-container .switch.showing {
  background-color: #1D1D1D;
}

.switch-container .switch:hover {
  background-color: #1D1D1D;
}

.positive-diff {
  color: #65D998;
}

.negative-diff {
  color: #C14EF8;
}