.table-container > table {
  border-collapse: collapse;
  max-width: 600px;
  width: 100%;
  color: rgba(255, 255, 255, 0.75);
}

.table-container > table thead tr, .table-container > table tbody tr {
  border-bottom: 1px #333 solid;
}

.table-container > table tr.collapsible {
  cursor: pointer;
}

.table-container > table tr.expanded {
  background-color: #131313;
}

.table-container > table th {
  padding: 13px 6px;
  color: #fff;
  font-family: "GT America Condensed";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  vertical-align: bottom;
}

.table-container > table th.number-cell {
  text-align: right;
}

.table-container > table th.retention-fee-cell {
  text-align: left;
}

.table-container > table td {
  text-align: left;
  padding: 13px 6px;
}

.table-container > table td.bold-cell {
  font-weight: 700;
}

.table-container > table .number-cell {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.table-container > table .county-name-cell {
  min-width: 170px;
  color: rgba(255, 255, 255, 1);
}

.table-container > table .th-wrapper {
  display: flex;
  justify-content: flex-start;
}

.table-container > table .number-cell .th-wrapper {
  justify-content: flex-end;
}

.table-container > table .retention-fee-cell {
  text-align: left;
  min-width: 120px;
}

.table-container > table .fraction-budget-cell {
  min-width: 62px;
}

.table-container > table .bail-rate-cell {
  min-width: 90px;
}

.table-container > table .total-budget-cell {
  min-width: 84px;
}

.table-container > table .bail-black-cell, .table-container > table .bail-white-cell {
  min-width: 0;
  width: auto;
}

.table-container > table .sort-desc, .table-container > table .sort-asc {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.75);
}

.table-container > table .sort-desc:hover, .table-container > table .sort-asc:hover {
  color: #fff;
  transition: 0.3s ease;
}

.table-container > table .caret {
  min-width: 8px;
  padding-right: 5px;
  opacity: 0;
}

.table-container > table .sort-desc .caret {
  padding-top: 6px;
}

.table-container > table .sort-asc .caret {
  padding-bottom: 6px;
}

.table-container > table .sorted .caret, .table-container > table .caret-cell .caret {
  opacity: 1;
}

.table-container > table .caret-cell {
  width: 10px;
  padding-left: 0;
}

.table-container > table .caret-cell .caret {
  padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 1px;
}

.table-container > table .caret-rotated .caret {
  transform: rotateZ(-90deg);
}

.table-container > table .sort-asc .caret {
  transform: rotateX(180deg);
}

.table-container > table .sorted {
  color: #fff;
}

.view-all-btn {
  margin: 1.5em 0;
  cursor: pointer;
  user-select: none;
}

.switch-container {
  display: flex;
  margin: 1.5em 0;
  cursor: pointer;
  user-select: none;
}

.switch-container .switch {
  width: 140px;
  padding: 10px;
  border: 1px #333 solid;
}

.switch.left {
  border-radius: 3px 0 0 3px;
}

.switch.right {
  border-radius: 0 3px 3px 0;
  border-left: 0;
}

.switch-container .switch.showing, .switch-container .switch:hover {
  background-color: #1D1D1D;
}

.positive-diff {
  color: #00ED89;
}

.negative-diff {
  color: #C14EF8;
}

/* Table-specific styling. */

#pretrail-spending-table th.viz-cell {
  padding-right: 0;
}

#pretrail-spending-table td.viz-cell {
  margin-right: 0;
}

#pretrail-spending-table .end-num {
  margin-right: -6px;
}

#mdj-table .county-name-cell {
  padding-left: 0;
}
