table {
  border-collapse: collapse;
  width: 100%;
  margin: 2.5em 0;
  font-weight: 300;
}

th {
  padding: 1em;
  font-weight: 300;
  text-transform: uppercase;
  vertical-align: bottom;
}

td {
  text-align: left;
  padding: 1em;
  border-top: 1px #191919 solid;
}

td.space-cell {
  width: 5%;
}

.number-cell {
  text-align: right;
}

.rank-cell {
  text-align: center;
}

.sort-desc, .sort-asc {
  cursor: pointer;
}

.sort-desc:before, .sort-asc:before {
  content: ' ';
  position: relative;
  right: 5px;
  border: 0.33em solid transparent;
}

.sort-desc:before {
  top: 0.67em;
  border-top-color: #444;
}

.sort-asc:before {
  bottom: 0.8em;
  border-bottom-color: #444;
}

.sort-desc.sorted:before {
  border-top-color: #eee;
}

.sort-asc.sorted:before {
  border-bottom-color: #eee;
}
