th.viz-cell {
  width: 200px;
  padding: 1em 1.5em;
}

.start-num {
  position: relative;
  float: left;
}

.end-num {
  position: relative;
  float: right;
}

.viz-line {
  position: absolute;
  top: 1.25em;
  bottom: -0.5em;
  width: 1px;
  background: #333;
  z-index: 1;
}

.start-num .viz-line {
  left: 0.5em;
}

.end-num .viz-line {
  right: 0.5em;
}

.average-wrapper {
  position: relative;
  width: 200px;
}

.average {
  position: absolute;
  bottom: -1.5em;
  font-size: 0.75em;
  text-align: center;
  text-transform: none;
  color: #aaa;
}

.average-line {
  position: absolute;
  top: 2.65em;
  bottom: -0.75em;
  left: 50%;
  width: 1px;
  z-index: 1;
}

.average-line.green {
  background: #65D998;
}

.average-line.purple {
  background: #C14EF8;
}

td.viz-cell {
  position: relative;
  display: block;
  width: 200px;
  margin: 0 2em;
  padding: 1.5em 0;
  border-left: 1px dotted #333;
  border-right: 1px dotted #333;
}

.viz-bar {
  position: relative;
  height: 0.5em;
  background-color: #65D998;
}

.bar-label {
  position: absolute;
  top: -0.4em;
  left: calc(100% + 1em);
  font-size: 0.75em;
  color: #aaa;
}

.bar-average-line {
  position: absolute;
  height: 100%;
  margin: -2em 0;
}

.bar-average-line.green {
  border-right: 1px dotted #65D998;
}

.bar-average-line.purple {
  border-right: 1px dotted #C14EF8;
}

.viz-double-bar {
  position: relative;
  height: 0.2em;
  margin: 0.15em 0;
  background-color: #333;
}

.viz-double-bar-point.green {
  background-color: #65D998;
}

.viz-double-bar-point.purple {
  background-color: #C14EF8;
}
