.table-container > table th.viz-cell {
  width: 120px;
  padding: 13px 0;
  font-family: "GT America Condensed";
  line-height: 13px;
}

.table-container > table th.bail-dist-cell {
  padding-left: 26px;
  font-family: "GT America Condensed";
  font-weight: 400;
  font-size: 12px;
  text-align: left;
}

.table-container > table td.viz-cell {
  position: relative;
  display: block;
  width: 120px;
  margin-left: 1em;
  padding: 1.2em 0;
  border-left: 1px dotted #333;
  border-right: 1px dotted #333;
}

.table-container > table td.bail-dist-cell {
  padding: 1em 1em;
}

.start-num {
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  float: left;
}

.end-num {
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  float: right;
}

.viz-line {
  position: absolute;
  top: 16px;
  bottom: -8px;
  width: 1px;
  background: #333;
  z-index: 1;
}

.start-num .viz-line {
  left: 13px;
}

.end-num .viz-line {
  right: 13px;
}

.average-wrapper {
  position: relative;
  width: 120px;
}

.average {
  position: absolute;
  bottom: -13px;
  text-align: center;
  text-transform: none;
  color: #eee;
  transform: translateX(0.75em);
}

.average.white,
.average.black {
  bottom: 0;
}

.average-text {
  transform: translateX(-50%);
}

.average.white .average-text {
  transform: translateX(-100%);
}

.average.black .average-text {
  transform: translateX(0%);
}

.average-line {
  position: absolute;
  top: 29px;
  bottom: -8px;
  width: 1px;
  z-index: 1;
}

.average.black .average-line,
.average.white .average-line {
  bottom: -20px;
}

.average-line.green {
  background: #00ed89;
}

.average-line.purple {
  background: #c14ef8;
}

.viz-bar {
  position: relative;
  height: 0.75em;
  background-color: #00ed89;
}

.bar-label {
  position: absolute;
  top: -0.4em;
  left: calc(100% + 1em);
  font-size: 12px;
  color: #aaa;
  z-index: 2;
}

.bar-average-line {
  position: absolute;
  height: 100%;
  margin: -2em 0;
}

.bar-average-line.green {
  border-right: 1px dotted #00ed89;
}

.bar-average-line.purple {
  border-right: 1px dotted #c14ef8;
}

.viz-number-line {
  position: relative;
  width: 100%;
  height: 0.2em;
  margin: 0.15em 0;
  background-color: #333;
}

.viz-number-line-point {
  position: absolute;
  top: 1.25em;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.viz-number-line-point.green {
  background-color: #00ed89;
}

.viz-number-line-point.purple {
  background-color: #c14ef8;
}

/* Bail Distribution Visualization */

.table-container > table td.bail-dist-cell {
  vertical-align: bottom;
  margin-right: 0;
  padding-left: 1em;
  padding-right: 1em;
}

.dist-bar-container {
  display: inline-grid;
  width: 100%;
}

.color-box {
  width: 10px;
  height: 10px;
  padding: 0;
}

.cash-bar {
  background-color: rgba(0, 237, 137, 1);
}

.unsecured-bar {
  background-color: rgba(117, 203, 214, 1);
}

.nonmonetary-bar {
  background-color: rgba(48, 48, 48, 1);
}

.ror-bar {
  background-color: rgba(193, 78, 248, 1);
}

.nominal-bar {
  background-color: rgba(253, 177, 255, 1);
}

.dist-row {
  display: flex;
}

.dist-column-segment {
  margin-bottom: 6px;
}

.dist-county-name {
  width: 120px;
  line-height: 1;
  margin-bottom: 6px;
}

.dist-bars-segment {
  display: inline-grid;
  flex: 1;
}


#dist-graph-container {
  width: 100%;
}

/*
  Darken everything on hover
  Oh how I wish I could just slap opacity on here, but opacity can't be overriden by children!
*/
#dist-graph-container:hover .dist-county-name {
  color: rgba(238, 238, 238, 0.4);
}

#dist-graph-container:hover .cash-bar {
  background-color: rgba(0, 237, 137, 0.4);
}

#dist-graph-container:hover .unsecured-bar {
  background-color: rgba(117, 203, 214, 0.4);
}

#dist-graph-container:hover .nonmonetary-bar {
  background-color: rgba(48, 48, 48, 0.4);
}

#dist-graph-container:hover .ror-bar {
  background-color: rgba(193, 78, 248, 0.4);
}

#dist-graph-container:hover .nominal-bar {
  background-color: rgba(253, 177, 255, 0.4);
}

/* Allow specific row to remain highlighted on hover */
#dist-graph-container .dist-row:hover .dist-county-name {
  color: rgba(238, 238, 238, 1);
}

#dist-graph-container .dist-row:hover .cash-bar {
  background-color: rgba(0, 237, 137, 1);
}

#dist-graph-container .dist-row:hover .unsecured-bar {
  background-color: rgba(117, 203, 214, 1);
}

#dist-graph-container .dist-row:hover .nonmonetary-bar {
  background-color: rgba(48, 48, 48, 1);
}

#dist-graph-container .dist-row:hover .ror-bar {
  background-color: rgba(193, 78, 248, 1);
}


#dist-graph-container .dist-row:hover .nominal-bar {
  background-color: rgba(253, 177, 255, 1);
}

.county-dist-row-container .dist-county-name {
  display: none;
}

.county-dist-row-container .dist-bars-segment {
  height: 19px;
}

#dist-graph-legend {
  display: flex;
  align-items: center;
  justify-content: center;
}

.legend-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  margin: 25px 0 50px;
}

.legend-color-bar {
  width: 100px;
  height: 1em;
  padding: 0;
}

.legend-header {
  color: rgba(255, 255, 255, 0.75);
  margin-top: 15px;
}

/* Avg Bail Amount Visualization */
#avg-bail-graph-container {
  position: relative;
  width: 100%;
}

#avg-bail-graph-container .bar-chart-plot {
  position: relative;
}

#avg-bail-graph-container .bar-chart-plotlines {
  position: absolute;
  inset: 0 0 0 120px;
  display: flex;
  border-left: 1px dashed rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

#avg-bail-graph-container .bar-chart-plotline {
  border-right: 1px dashed rgba(255, 255, 255, 0.3);
  flex-grow: 1;
}

#avg-bail-graph-container .bar-chart-xaxis {
  display: flex;
  width: 100%;
  margin-bottom: 16.5px;
  color: rgba(255, 255, 255, 0.75);
}

#avg-bail-graph-container .bar-chart-xaxis .tick {
  flex: 1;
  width: 0;
}
#avg-bail-graph-container .bar-chart-xaxis .tick > p {
  width: fit-content;
  transform: translateX(-50%);
  margin: 0;
}

#avg-bail-graph-container .bar-chart-xaxis .tick:last-of-type {
  flex: 0;
}
#avg-bail-graph-container .bar-chart-xaxis .bar-chart-sort-button {
  width: 120px;
}

#avg-bail-graph-container .bar-chart-xaxis .bar-chart-sort-button > button {
  padding: 0;
  border: 0;
  color: inherit;
  background: none;
  font-family: "GT America Bold";
}

#avg-bail-graph-container > .bar-chart-plot:hover .county-name {
  color: rgba(238, 238, 238, 0.4);
}

#avg-bail-graph-container .bar-chart-row {
  display: flex;
}

/* Allow specific row to remain highlighted on hover */
#avg-bail-graph-container .bar-chart-row:hover .county-name {
  color: rgba(238, 238, 238, 1);
}

#avg-bail-graph-container .county-name {
  line-height: 1;
  width: 120px;
}

#avg-bail-graph-container .bar-chart-row:not(:last-child) .county-name {
  padding-bottom: 6px;
}

#avg-bail-graph-container
  .bar-chart-row:not(:last-child)
  .county-bar-chart-bar {
  margin-bottom: 6px;
}

#avg-bail-graph-container .county-bar-chart-bar-container {
  display: flex;
  flex: 1;
}

#avg-bail-graph-container .county-bar-chart-bar {
  background: #303030;
}

#avg-bail-graph-container .county-bar-chart-bar.highlighted {
  background: #fcaa17;
}

#avg-bail-graph-container
  > .bar-chart-plot:hover
  .bar-chart-row:not(:hover)
  .county-bar-chart-bar {
  opacity: 0.15;
}
