th.viz-cell {
  width: 150px;
  padding: 13px 19px;
  font-family: "GT America";
  font-size: 11px;
  line-height: 13px;
}

th.bail-dist-cell {
  text-align: center;
}

.start-num {
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  float: left;
}

.end-num {
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  float: right;
}

.viz-line {
  position: absolute;
  top: 16px;
  bottom: -8px;
  width: 1px;
  background: #333;
  z-index: 1;
}

.start-num .viz-line {
  left: 7px;
}

.end-num .viz-line {
  right: 7px;
}

.average-wrapper {
  position: relative;
  width: 150px;
}

.average {
  position: absolute;
  bottom: -13px;
  text-align: center;
  text-transform: none;
  color: #eee;
  transform: translateX(0.75em);
}

.average-text {
  transform: translateX(-50%);
}

.average-line {
  position: absolute;
  top: 29px;
  bottom: -8px;
  width: 1px;
  z-index: 1;
}

.average-line.green {
  background: #00ED89;
}

.average-line.purple {
  background: #C14EF8;
}

td.viz-cell {
  position: relative;
  display: block;
  width: 150px;
  margin: 0 2em;
  padding: 1.5em 0;
  border-left: 1px dotted #333;
  border-right: 1px dotted #333;
}

.viz-bar {
  position: relative;
  height: 0.5em;
  background-color: #00ED89;
}

.bar-label {
  position: absolute;
  top: -0.4em;
  left: calc(100% + 1em);
  font-size: 11px;
  color: #aaa;
}

.bar-average-line {
  position: absolute;
  height: 100%;
  margin: -2em 0;
}

.bar-average-line.green {
  border-right: 1px dotted #00ED89;
}

.bar-average-line.purple {
  border-right: 1px dotted #C14EF8;
}

.viz-number-line {
  position: relative;
  width: 100%;
  height: 0.2em;
  margin: 0.15em 0;
  background-color: #333;
}

.viz-number-line-point {
  position: absolute;
  top: 1.25em;
  width: 0.25em;
  height: 1em;
}

.viz-number-line-point.green {
  background-color: #00ED89;
}

.viz-number-line-point.purple {
  background-color: #C14EF8;
}

td.bail-dist-cell {
  vertical-align: bottom;
}

.cash-bar {
  background-color: #00ED89;
}

.unsecured-bar {
  background-color: #75CBD6;
}

.nonmonetary-bar {
  background-color: #303030;
}

.ror-bar {
  background-color: #C14EF8;
}