.table-container > table th.viz-cell {
  width: 120px;
  padding: 13px 0;
  font-family: "GT America Condensed";
  line-height: 13px;
}

.table-container > table th.bail-dist-cell {
  padding-left: 26px;
  font-family: "GT America Condensed";
  font-weight: 400;
  font-size: 12px;
  text-align: left;
}

.table-container > table td.viz-cell {
  position: relative;
  display: block;
  width: 120px;
  margin-left: 1em;
  padding: 1.2em 0;
  border-left: 1px dotted #333;
  border-right: 1px dotted #333;
}

.table-container > table td.bail-dist-cell {
  padding: 1em 1em;
}

.start-num {
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  float: left;
}

.end-num {
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  float: right;
}

.viz-line {
  position: absolute;
  top: 16px;
  bottom: -8px;
  width: 1px;
  background: #333;
  z-index: 1;
}

.start-num .viz-line {
  left: 13px;
}

.end-num .viz-line {
  right: 13px;
}

.average-wrapper {
  position: relative;
  width: 120px;
}

.average {
  position: absolute;
  bottom: -13px;
  text-align: center;
  text-transform: none;
  color: #eee;
  transform: translateX(0.75em);
}

.average.white,
.average.black {
  bottom: 0;
}

.average-text {
  transform: translateX(-50%);
}

.average.white .average-text {
  transform: translateX(-100%);
}

.average.black .average-text {
  transform: translateX(0%);
}

.average-line {
  position: absolute;
  top: 29px;
  bottom: -8px;
  width: 1px;
  z-index: 1;
}

.average.black .average-line,
.average.white .average-line {
  bottom: -20px;
}

.average-line.green {
  background: #00ed89;
}

.average-line.purple {
  background: #c14ef8;
}

.viz-bar {
  position: relative;
  height: 0.75em;
  background-color: #00ed89;
}

.bar-label {
  position: absolute;
  top: -0.4em;
  left: calc(100% + 1em);
  font-size: 12px;
  color: #aaa;
  z-index: 2;
}

.bar-average-line {
  position: absolute;
  height: 100%;
  margin: -2em 0;
}

.bar-average-line.green {
  border-right: 1px dotted #00ed89;
}

.bar-average-line.purple {
  border-right: 1px dotted #c14ef8;
}

.viz-number-line {
  position: relative;
  width: 100%;
  height: 0.2em;
  margin: 0.15em 0;
  background-color: #333;
}

.viz-number-line-point {
  position: absolute;
  top: 1.25em;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.viz-number-line-point.green {
  background-color: #00ed89;
}

.viz-number-line-point.purple {
  background-color: #c14ef8;
}

/* Distribution viz */
.table-container > table td.bail-dist-cell {
  vertical-align: bottom;
  margin-right: 0;
  padding-left: 1em;
  padding-right: 1em;
}

.dist-bar-container {
  display: inline-grid;
  width: 100%;
  border: 1px #000 solid;
}

/* TODO: Generalize this to generic tooltip for use in county map */
.dist-bar-container .dist-tooltip {
  position: absolute;
  left: 5em;
  bottom: 4em;
  border-radius: 0.5em;
  padding: 1em;
  display: none;
  background-color: #fff;
  color: #000;
}

.dist-bar-container:hover .dist-tooltip {
  display: block;
}

.dist-tooltip .dist-tooltip-name {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.dist-tooltip .tooltip-table {
  color: #000;
  width: 250px;
}

.dist-tooltip .tooltip-row {
  border-top: 0.5px #d6d6d6 solid;
  border-bottom: 0;
  display: flex;
  align-items: center;
}

.dist-tooltip .tooltip-cell {
  padding: 0.5em 0;
}

.color-box {
  width: 10px;
  height: 10px;
  padding: 0;
}

.cash-bar {
  background-color: rgba(0, 237, 137, 1);
}

.unsecured-bar {
  background-color: rgba(33, 95, 93, 1);
}

.nonmonetary-bar {
  background-color: rgba(48, 48, 48, 1);
}

.ror-bar {
  background-color: rgba(176, 140, 240, 1);
}

/* Bail Distribution Visualization */

#dist-graph-container {
  width: 100%;
}

/*
  Darken everything on hover
  Oh how I wish I could just slap opacity on here, but opacity can't be overriden by children!
*/
#dist-graph-container:hover .dist-county-name {
  color: rgba(238, 238, 238, 0.4);
}

#dist-graph-container:hover .cash-bar {
  background-color: rgba(0, 237, 137, 0.4);
}

#dist-graph-container:hover .unsecured-bar {
  background-color: rgba(33, 95, 93, 0.4);
}

#dist-graph-container:hover .nonmonetary-bar {
  background-color: rgba(48, 48, 48, 0.4);
}

#dist-graph-container:hover .ror-bar {
  background-color: rgba(176, 140, 240, 0.4);
}

#dist-graph-container .dist-row {
  display: flex;
  margin-bottom: 4px;
}

/* Allow specific row to remain highlighted on hover */
#dist-graph-container .dist-row:hover .dist-county-name {
  color: rgba(238, 238, 238, 1);
}

#dist-graph-container .dist-row:hover .cash-bar {
  background-color: rgba(0, 237, 137, 1);
}

#dist-graph-container .dist-row:hover .unsecured-bar {
  background-color: rgba(33, 95, 93, 1);
}

#dist-graph-container .dist-row:hover .nonmonetary-bar {
  background-color: rgba(48, 48, 48, 1);
}

#dist-graph-container .dist-row:hover .ror-bar {
  background-color: rgba(176, 140, 240, 1);
}

.dist-county-name {
  width: 125px;
}

.dist-bars-segment {
  display: inline-grid;
  width: 100%;
  margin-bottom: -4px; /* Hack to allow tooltips to show in margins between bars */
  padding-bottom: 4px; /* which prevents tooltip from flashing on hover */
}

/* Bail Distribution Visualization Header & Legend */

#dist-graph-header {
  margin-bottom: 20px;
  font-family: "GT America Bold";
  font-size: 13px;
  font-weight: normal;
  line-height: 28px;
  text-align: center;
  color: #fff;
}

#dist-graph-legend {
  display: flex;
  align-items: center;
  justify-content: center;
}

.legend-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  margin: 25px 0 50px;
}

.legend-color-bar {
  width: 100px;
  height: 1em;
  padding: 0;
}

.legend-header {
  color: rgba(255, 255, 255, 0.75);
  margin-top: 15px;
}
