th.viz-cell {
  width: 120px;
  padding: 13px 0;
  font-family: "GT America Condensed";
  font-size: 11px;
  line-height: 13px;
}

th.bail-dist-cell {
  padding-left: 26px;
  font-family: "GT America Condensed";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}

td.viz-cell {
  position: relative;
  display: block;
  width: 120px;
  margin: 0 1em;
  padding: 1.5em 0;
  border-left: 1px dotted #333;
  border-right: 1px dotted #333;
}

td.bail-dist-cell {
  padding: 1.5em 1em;
}

.start-num {
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  float: left;
}

.end-num {
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  float: right;
}

.viz-line {
  position: absolute;
  top: 16px;
  bottom: -8px;
  width: 1px;
  background: #333;
  z-index: 1;
}

.start-num .viz-line {
  left: 13px;
}

.end-num .viz-line {
  right: 13px;
}

.average-wrapper {
  position: relative;
  width: 120px;
}

.average {
  position: absolute;
  bottom: -13px;
  text-align: center;
  text-transform: none;
  color: #eee;
  transform: translateX(0.75em);
}

.average.white, .average.black {
  bottom: 0;
}

.average-text {
  transform: translateX(-50%);
}

.average.white .average-text {
  transform: translateX(-100%);
}

.average.black .average-text {
  transform: translateX(0%);
}

.average-line {
  position: absolute;
  top: 29px;
  bottom: -8px;
  width: 1px;
  z-index: 1;
}

.average.black .average-line, .average.white .average-line {
  bottom: -20px;
}

.average-line.green {
  background: #00ED89;
}

.average-line.purple {
  background: #C14EF8;
}

.viz-bar {
  position: relative;
  height: 0.5em;
  background-color: #00ED89;
}

.bar-label {
  position: absolute;
  top: -0.4em;
  left: calc(100% + 1em);
  font-size: 11px;
  color: #aaa;
  z-index: 2;
}

.bar-average-line {
  position: absolute;
  height: 100%;
  margin: -2em 0;
}

.bar-average-line.green {
  border-right: 1px dotted #00ED89;
}

.bar-average-line.purple {
  border-right: 1px dotted #C14EF8;
}

.viz-number-line {
  position: relative;
  width: 100%;
  height: 0.2em;
  margin: 0.15em 0;
  background-color: #333;
}

.viz-number-line-point {
  position: absolute;
  top: 1.25em;
  width: 0.25em;
  height: 1em;
}

.viz-number-line-point.green {
  background-color: #00ED89;
}

.viz-number-line-point.purple {
  background-color: #C14EF8;
}

/* Distribution viz */
td.bail-dist-cell {
  vertical-align: bottom;
  margin-right: 0;
  padding-left: 1em;
  padding-right: 1em;
  border-right: unset;
}

.dist-bar-container {
  display: inline-grid;
  width: 100%;
  border: 1px #000 solid;
}

.dist-bar-container:hover {
  border-color: #fff;
}

/* TODO: Generalize this to generic tooltip for use in county map */
.dist-bar-container .dist-tooltip {
  position: absolute;
  left: 5em;
  bottom: 4em;
  border-radius: 0.5em;
  padding: 1em;
  display: none;
  background-color: #fff;
  color: #000;
}

.dist-bar-container:hover .dist-tooltip {
  display: block;
}

.dist-tooltip .dist-tooltip-name {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.dist-tooltip .tooltip-table {
  color: #000;
  width: 250px;
}

.dist-tooltip .tooltip-row {
  border-top: 0.5px #d6d6d6 solid;
  border-bottom: 0;
  display: flex;
  align-items: center;
}

.dist-tooltip .tooltip-cell {
  padding: 0.5em 0;
}

.color-box {
  width: 10px;
  height: 10px;
  padding: 0;
}

.cash-bar {
  background-color: #00ED89;
}

.unsecured-bar {
  background-color: #215F5D;
}

.nonmonetary-bar {
  background-color: #303030;
}

.ror-bar {
  background-color: #B08CF0;
}

#dist-graph-header {
  text-align: center;
}

#dist-graph-container {
  display: grid;
  grid-template-columns: 100px auto;
  row-gap: 5px;
  width: 100%;
}

.dist-section {
  display: inline-grid;
}